In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
999,tt1605630,50000000,234989584,American Reunion,Jason Biggs|Alyson Hannigan|Seann William Scot...,Jon Hurwitz|Hayden Schlossberg,Save the best piece for last.,The characters we met a little more than a dec...,113,Comedy,Universal Pictures,4/4/2012,6.0,2012

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# Profit calculation:
data['Profit'] = data['revenue'] - data['budget']

#the time given in the dataset is in string format. 
#So we need to change this in datetime format
data['clear_date'] = pd.to_datetime(data['release_date'], infer_datetime_format = True)
data['clear_month'] = data['clear_date'].dt.month

# Prepare '|'-splitted data for explode method in new "clear" columns
data['genres_clear'] = data['genres'].str.split('|')
data['director_clear'] = data['director'].str.split('|')
data['cast_clear'] = data['cast'].str.split('|')
data['production_companies_clear'] = data['production_companies'].str.split('|')

#ed = DataFrame 'data' with explode method by one of the columns 
ed_genres = data.explode('genres_clear')
ed_director = data.explode('director_clear')
ed_cast = data.explode('cast_clear')
ed_prd_comp = data.explode('production_companies_clear')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'

In [8]:
data['original_title'][data['budget'] == data['budget'].max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
answers['2'] = '2. Gods and Generals'

In [10]:
data['original_title'][data['runtime'] == data['runtime'].max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3. Winnie the Pooh'

In [12]:
data['original_title'][data['runtime'] == data['runtime'].min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '2. 110'

In [14]:
round(data['runtime'].mean(),0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107'

In [16]:
round(data['runtime'].median(),0)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = '5. Avatar'

In [18]:
data['original_title'][data['Profit'] == data['Profit'].max()]

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '5. The Lone Ranger'

In [20]:
data['original_title'][data['Profit'] == data['Profit'].min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1. 1478'

In [22]:
data['original_title'][data['Profit']>0].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = '4. The Dark Knight'

In [66]:
data['original_title'][data['revenue'] == data[(data.release_year==2008)]. \
                       revenue.max()]

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = '5. The Lone Ranger'

In [72]:
d_period = data.query('release_year>=2012 and release_year<=2014')
d_period['original_title'][d_period.Profit == d_period.Profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [27]:
answers['11'] = '3. Drama'

In [28]:
ed_genres['genres_clear'].value_counts().index[0]

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = '1. Drama'

In [69]:
ed_genres[ed_genres['Profit'] > 0]['genres_clear'].value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
answers['13'] = '5. Peter Jackson'

In [71]:
ed_director.groupby('director')['revenue'].sum(). \
    sort_values(ascending = False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = '3. Robert Rodriguez'

In [34]:
action_movies = ed_director[ed_director['genres'].str.contains('Action')]

action_movies['director_clear'].value_counts(). \
    sort_values(ascending = False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = '3. Chris Hemsworth'

In [73]:
ed_cast[ed_cast.release_year == 2012].groupby('cast_clear')['revenue'].sum(). \
    sort_values(ascending = False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
answers['16'] = '3. Matt Damon'

In [74]:
ed_cast[ed_cast.budget > ed_cast.budget.mean()]. \
    groupby('cast_clear')['revenue'].count().  \
    sort_values(ascending = False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = '2. Action'

In [40]:
ed_cast_NC = ed_cast[ed_cast.cast_clear == 'Nicolas Cage'].explode('genres_clear')
ed_cast_NC.genres_clear.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = '1. K-19: The Widowmaker'

In [76]:
ed_prd_comp[ed_prd_comp.production_companies_clear == 'Paramount Pictures'] \
    .groupby('original_title')['Profit'].min().sort_values().index[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = '5. 2015'

In [75]:
data.pivot_table(index = 'release_year', values = 'revenue', aggfunc = 'sum') \
    .sort_values(by='revenue', ascending = False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '1. 2014'

In [79]:
df_WarBros = ed_prd_comp[ed_prd_comp.production_companies_clear.str.contains("Warner Bros")]
df_WarBros.pivot_table(values = 'Profit', index = 'release_year', aggfunc = 'sum'). \
    sort_values(by='Profit', ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = '4. Сентябрь'

In [80]:
data.groupby('clear_month')['original_title'].count(). \
    sort_values(ascending = False).index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = '2. 450'

In [50]:
data.query('clear_month in ["6","7","8"]')['original_title'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
answers['23'] = '5. Peter Jackson'

In [81]:
ed_director.query('clear_month in ["12","1","2"]')['director_clear']. \
    value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
answers['24'] = '5. Four By Two Productions'

In [82]:
ed_prd_comp['title_length'] = ed_prd_comp['original_title'].apply(lambda s: len(s))

ed_prd_comp.groupby('production_companies_clear')['title_length'].mean(). \
    sort_values(ascending = False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
answers['25'] = '3. Midnight Picture Show'

In [83]:
ed_prd_comp['overview_length'] = data['overview'].apply(lambda s: len(s.split(' ')))

ed_prd_comp.groupby('production_companies_clear')['overview_length']. \
    mean().sort_values(ascending = False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [58]:
best_data = data.sort_values(['vote_average'], ascending = False)
best_data.original_title.head(len(data)//100)

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [88]:
answers['27'] = '5. Daniel Radcliffe', 'Rupert Grint'

In [90]:
import collections
from itertools import combinations

data['pairs'] = data['cast_clear'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pairs')
collections.Counter(data['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 80)]

ВАРИАНТ 2

# Submission

In [89]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '3': '3. Winnie the Pooh',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('5. Daniel Radcliffe', 'Rupert Grint')}

In [60]:
# и убедиться что ни чего не пропустил)
len(answers)

26